body{
	font-family: 'Bai Jamjuree', sans-serif;
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3TIvGtzjaWCUZKEzukBeYCyAG09Tqjsca_HObXRWUFuPlNiBvUw);
	text-align: center;
	text-transform: uppercase;
	background:linear-gradient(to right, red,yellow);
	top: 15%;
	color: white;
}
h1{ margin-top: 200px;
	width:100%;
	letter-spacing: .5em;

}